/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-mint: #e0faef;
  --color-soft-mint: #72c5a9;
  --color-deep-mint: #52776b;
  --color-dark-mint: #408870;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 5px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  padding: 8px;
  transition: all var(--animation-duration) ease-in-out;
  z-index: 1;
}

#navbar.navbar--dark {
  background-color: var(--color-soft-mint);
  padding: 8px;
}

.navbar__menu {
  display: flex;
}

.navbar__logo {
  font-size: var(--font-large);
  font-weight: var(--weight-semi-bold);
}

.nav__favicon {
  width: 45px;
  height: 45px;
}

.navbar__menu__item {
  padding-right: 8px 12px;
  margin: 10px 5px;
  cursor: pointer;
}

.navbar__menu__item:hover {
  background-color: var(--color-mint);
  border-radius: var(--size-border-radius);
}

.navbar__toggle-btn {
  position: absolute;
  top: 32px;
  right: 32px;
  font-size: 24px;
  color: var(--color-black);
  display: none;
}

/* Home */
#home {
  background: url("imgs/home-background.png") center/cover no-repeat;
  padding: 40px;
  padding-top: 100px;
  text-align: center;
}

.home__avatar {
  width: 250px;
  height: 250;
  border-radius: 50%;
  border: 2px solid var(--color-black);
}

.home__title,
.home__description {
  color: var(--color-black);
}

.home__contact {
  color: var(--color-black);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-black);
  border-radius: 20px;
}

/* Section common */
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* About */
.about_me {
  text-align: left;
  padding-left: 50px;
}

.about_me h2 {
  color: var(--color-black);
  padding-top: 20px;
}

.job {
  display: flex;
  align-items: center;
  margin: 0 20px 0 100px;
}

.job__logo {
  width: 140px;
  height: 50px;
}

.job__description {
  margin: 10px 20px;
  text-align: left;
}

.job__name,
.job__period {
  color: var(--color-black);
}

.jop__name {
  font-size: var(--font-small);
}

.job__period {
  font-size: var(--font-micro);
}

/* Skill */
#skills {
  background-color: var(--color-mint);
}

.skillset {
  display: flex;
  background-color: var(--color-dark-mint);
  color: var(--color-light-white);
  margin: 20px 0;
}

.about__majors {
  display: flex;
  justify-content: space-evenly;
}

.major__icon {
  width: 170px;
  height: 170px;
  font-size: 70px;
  border-radius: 50%;
  line-height: 170px;
  margin: auto;
  color: var(--color-dark-grey);
  border: 1px solid var(--color-dark-grey);
  margin-bottom: 15px;
}

.major__icon i {
  transition: all var(--animation-duration) ease;
}

.major__icon:hover .fa-html5 {
  color: var(--color-dark-pink);
  transform: scale(1.1);
  text-shadow: 5px 5px 5px var(--color-dark-grey);
}

.major__icon:hover .fa-css3 {
  color: var(--color-blue);
  transform: scale(1.1);
  text-shadow: 5px 5px 5px var(--color-dark-grey);
}

.major__icon:hover .fa-js {
  color: var(--color-orange);
  transform: scale(1.1);
  text-shadow: 5px 5px 5px var(--color-dark-grey);
}

.major__title {
  color: var(--color-dark-grey);
}

.major__description {
  font-size: var(--font-small);
}

.skillset__title {
  color: var(--color-white);
}

.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-deep-mint);
  padding: 20px 40px;
}

.skill {
  margin-bottom: 15px;
}

.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 20px;
  background-color: var(--color-grey);
}

.skill__value {
  height: 20px;
  background-color: var(--color-orange);
}

.skillset__right {
  flex-basis: 40%;
}

.tools {
  background-color: var(--color-soft-mint);
}

.tools,
.etc {
  padding: 20px;
}

/* Works */
.work__categories {
  margin: 40px;
}

.category__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
  width: 200px;
  position: relative;
}

.category__btn.active,
.category__btn:hover {
  background-color: var(--color-pink);
  color: var(--color-white);
}

.category__btn.active .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.category__count {
  background-color: var(--color-orange);
  border-radius: 50%;
  color: var(--color-white);
  width: 20px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 30px;
  opacity: 0;
  transition: all var(--animation-duration) ease;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--animation-duration) ease-out;
}

.work__projects.anim-out {
  opacity: 0;
  transform: scale(0.96) translateY(40px);
}

.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 250px;
  margin: 2px;
  background-color: var(--color-light-white);
}

.project.invisible {
  display: none;
}

.project__img {
  max-width: 100%;
  max-height: 100%;
  align-self: center;
}

.project__description {
  position: absolute;
  color: var(--color-mint);
  background-color: black;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: all var(--animation-duration) ease;
}

.project:hover .project__description {
  opacity: 0.8;
}

.project__description h3 {
  color: var(--color-mint);
}

.project__description h3::after {
  content: "";
  width: 200px;
  height: 2px;
  background-color: var(--color-mint);
  display: block;
  position: relative;
  left: 50%;
  margin-left: -100px;
  margin-top: 8px;
}

/* Contact */
#contact {
  background-color: var(--color-deep-mint);
}

.contact__title,
.contact__name,
.contact__email {
  color: var(--color-white);
}

@media screen and (max-width: 768px) {
  :root {
    /* Font size */
    --font-large: 24px;
    --font-medium: 16px;
    --font-regular: 12px;
    --font-small: 10px;
    --font-micro: 8px;
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-soft-mint);
  }
  .nav__favicon {
    width: 24px;
    height: 24px;
  }
  .navbar__toggle-btn {
    display: block;
    top: 12px;
    right: 30px;
  }
  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .navbar__menu.open {
    display: block;
    margin: 8px 0;
  }

  .section {
    padding: 16px;
    padding-top: 60px;
  }

  .about__majors {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  .job {
    flex-direction: column;
    margin: 0 0 0 20px;
  }

  .job__logo {
    width: 100px;
    height: 30px;
  }

  .job__description {
    text-align: center;
  }

  .major {
    margin-bottom: 20px;
  }

  .skillset {
    flex-direction: column;
  }

  .work__categories {
    margin: 10px;
  }

  .category__btn {
    width: 80%;
    margin: 4px 0;
  }

  .project {
    flex-grow: 1;
  }
}
